.main {
    background-image: url(https://zmp3-static.zadn.vn/skins/zmp3-v6.1/images/theme-background/zma.svg);
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

/* sidebar */

.sidebar {
    position: relative;
    width: 240px;
    overflow: hidden;
    /* display: none; */
    z-index: 3;
}

.sidebar__wrap {
    background-color: var(--primarysb-color);
    height: calc(100% - 90px);
}

.sidebar__brand {
    padding: 0 25px 0 28px;
    width: 240px;
    height: 70px;
    align-items: center;
    display: flex;
}

.sidebar-icon-img {
    width: 120px;
    height: 40px;
}

.sidebar__navbar {
    height: calc(100% - 90px);
}

.sidebar__navbar-list-top,
.sidebar__navbar-list-bottom {
    padding: 0;
    margin: 0;
}

.sidebar__navbar-list-bottom-wrap {
    height: 40%;
    overflow: hidden scroll;
}

.playactive {
    /* height: 160px; */
    /* height: 100%; */
}

.sidebar__navbar-list-bottom-wrap::-webkit-scrollbar {
    display: none;
}

.sidebar__navbar-library {
    margin-top: 20px;
}

.sidebar__navbar-library-heading {
    margin-bottom: 12px;
    font-size: 1.4rem;
    font-weight: 600; 
    color: var(--text-color); 
    padding: 7px 28px;
}

.sidebar__navbar-playlist {
    border-top: 1px solid rgba(255,255,255, 0.2);
    position: relative;
}

.sidebar__navbar-playlist-btn {
    position: relative;
    left: -10px;
    width: 100%;
    padding: 13px 0;
    background-color: var(--primarysb-color);
    border: none;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--textbar-color);
    cursor: pointer;
}

.sidebar__navbar-playlist-btn:hover {
    color: var(--white-color);
}

.sidebar__navbar-list-top {
    margin-bottom: 30px;
    position: relative;
}


.sidebar__navbar-list-top::after {
    content: "";
    position: absolute;
    height: 0.06px;
    width: 190px;
    background-color: rgba(255,255,255, 0.2);
    bottom: -15px;
    left: 25px;
}

.sidebar__navbar-item {
    padding: 7px 23px;
    color: var(--textbar-color);
    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebar__navbar-item.selection {
    background-color: rgba(255,255,255, 0.1);
    position: relative;
}

.sidebar__navbar-item.selection::before {
    content: "";
    width: 2.5px;
    height: 100%;
    background-color: var(--playlist-active-color);
    left: 0;
    position: absolute;

}

.page__navbar-radio-live {
    background-color: var(--live-color);
    font-size: 0.8rem;
    font-weight: 700;
    padding: 3px 7px;
    border-radius: 5px;
    letter-spacing: 1px;
    margin-left: 10px;
}

.sidebar__navbar-item:hover {
    color: var(--white-color);
}

.sidebar__navbar-icon-wrap{
    font-size: 2.4rem;
    display: flex;
    justify-content: space-around;
    width: 20%;
}


.sidebar__navbar-text-wrap {
    width: 80%;
}
.sidebar__navbar-text {
    font-size: 13px;
    font-weight: 600;
    margin-left: 6px;
}


/*  */

.header {
    position: fixed;
    height: 70px;
    /* left: 240px; */
    background-color: var(--primarybg-color);
    min-width: 660px;
    z-index: 2;
    width: 100%;
    background-color: transparent;
}


.header__wrap {
    display: flex;
    padding: 0 30px;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

.header__input-wrap {
    display: flex;
    left: 240px;
    position: relative;
}

.header__input-btn {
    font-size: 20px;
    color: var(--icon-color);
    background-color: transparent;
    border: none;
    padding-right: 20px;
}

.header__input {
    background-color: rgba(255,255,255, 0.1);
    display: flex;
    align-items: center;
    border-radius: 20px;
    position: relative;
    margin-right: 150px;
}

.header__input.isactive {
    border-radius: 20px 20px 0 0;
    background-color: var(--history-color);
}

.header__input-icon {
    font-size: 2rem;
    color: var(--textbar-color);
    padding-left: 12px;
}

.header__input-import-wrap {
    width: 500px;
    margin-left: 8px;
    position: relative;
}

.header__input-import {
    font-size: 1.4rem;
    width: 95%;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--textbar-color);
    line-height: 38px;
}

.header__input-import::placeholder {
    color: var(--textbar-color);
    font-weight: 400;
}

.header__input-history {
    position: absolute;
    background-color: var(--history-color);
    top: 40px;
    width: 100%;
    border-radius: 0 0 20px 20px;
    padding: 13px 10px;
    margin: 0;
    display: none;
}

.header__input-history-list {
    position: relative;
    list-style: none;
    padding-left: 15px;
    font-size: 1.4rem;
    color: var(--white-color);
    padding: 10px 8px;
    cursor: pointer;
    border-radius: 5px;
}

.header__input-history-list:hover {
    background-color: rgba(255,255,255, 0.1);
}

.header__input-history-icon {
    font-size: 1.6rem;
    color: #ac91d2;
    margin-right: 10px;
}

.header__button-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.header__button {
    font-size: 1.6rem;
    color: var(--textbar-color);
    background-color: rgba(255,255,255, 0.1);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
}

.header__button:hover {
    opacity: 0.9;
    cursor: pointer;
}


.header__button-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.header__button-sub{
    width: 60px;
    padding: 6px 0;
    border-radius: 5px;
    position: absolute;
    bottom: -35px;
    font-size: 1.2rem;
    background-color: rgb(39, 38, 38);
    left: -10px;
    display: none;
    animation: opacityAnimation ease 0.4s;
}

.header__button-sub::before {
    content: "";
    border-style: solid;
    border-width: 8px;
    top: -15px;
    left: 22px;
    position: absolute;
    border-color: transparent transparent rgb(39, 38, 38) transparent;
}

@keyframes opacityAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.header__button-themes:hover .header__button-sub-themes {
    display: block;
}

.header__button-upload:hover .header__button-sub-upload {
    display: block;
}

.header__button-setting:hover .header__button-sub-setting {
    display: block;
}


/* page */

.page {
    margin-top: 70px;
    position: relative;
    height: 100vh;
    width: calc(100% - 240px);
}

.page__wrap {
    padding: 45px 51px;
    height: 100vh;
    overflow: hidden scroll;
}

.page__wrap::-webkit-scrollbar {
    display: none;
}

/* Slider */

.page__slider {
    margin-bottom: 33px;
    height: 28vh;
}

.page__slider-list  {
    transition: transform ease 0.8s;
}

.page__slider-img {
    height: 169px;
    border-radius: 10px;
}

.page__slider-wrap {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
}


.hide1 {
    transform: translateX(50%);
    position: absolute;
    opacity: 0;
}

.hide2 {
    transform: translateX(150%);
    position: absolute;
    opacity: 0;
}

.hide3 {
    transform: translateX(250%);
    position: absolute;
    opacity: 0;
}

.show1 {
    transform: translateX(0);
    position: absolute;
    opacity: 1;
}

.show2 {
    transform: translateX(100%);
    position: absolute;
    opacity: 1;
}

.show3 {
    transform: translateX(200%);
    position: absolute;
    opacity: 1;
}


.page__slider-handle {
    position: absolute;
    z-index: 2;
    top: 70px;
    padding: 15px;
    border: none;
    font-size: 1.6rem;
    color: var(--black-color);
    border-radius: 50%;
    background-color: rgba(255,255,255, 0.6);
    cursor: pointer;
}

.page__slider-handle.handle-next {
    right: 0;
}

/* recently */

.page__content-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    line-height: 30px;
}

.page__content-heading {
    display: flex;
    align-items: center;
}

.page__content-heading-text:hover {
    color: var(--hoverprimary-color);
    cursor: pointer;
}

.page__content-heading-text,
.page__recommend-heading-text {
    color: var(--text-color);
    font-size: 2rem;
    margin: 0;
}

.page__content-heading-icon {
    position: relative;
    top: 2px;
    margin-left: 8px;
    margin-right: 3px;
    font-size: 1.6rem;
    cursor: pointer;
}

.page__content-heading-icon:hover {
    opacity: 0.9;
}

.page__content-link {
    position: relative;
}

.page__item-cover-play {
    color: var(--white-color);
    position: absolute;
    font-size: 2.4rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    top: 100px;
    margin-left: 10px;
    transition: ease 0.5s;
    opacity: 0;
    cursor: pointer;
}

.page__item-cover-icon-play {
    position: relative;
    top: -8px;
    margin-right: 50px;
    padding: 8px 10px;
    border-radius: 50%;
    border: 1px solid #fff;
}

.page__item-cover-icon {
    margin-right: 50px;

}

.page__content-list {
    position: relative;
    height: 214px;
    overflow: hidden;
    border-radius: 10px;
}

.page__content-img {
    width: 100%;
    height: 100%;
    transition: linear 0.3s;
}

.page__content-link:hover img{
    transform: scale(1.1) translateZ(0);
}

.page__content-link:hover .page__item-cover, 
.page__content-link:hover .page__item-cover-play {
    opacity: 1;
}

.page__item-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(1,1,1, 0.4);
    transition: ease 0.2s;
    opacity: 0;
}

.page__item-sub {
    margin-top: 12px;
}

.page__item-sub-text {
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    font-size: 1.5rem;
    white-space: nowrap;
    font-weight: 600;
    color: var(--text-color);
}

.page__item-sub-text:hover {
    color: var(--hoverprimary-color);
    cursor: pointer;
}



.page__recommend,
.page__corner,
.page__radio,
.page__top,
.page__singer {
    margin-top: 35px;
}

.page__item-description {
    margin-top: 6px;
    font-size: 1.4rem;
    color: var(--textsub-color);
}

.page__item-description-text {
    color: var(--textsub-color);
    text-decoration: none;
}

.page__item-description-text:hover {
    text-decoration:underline;
    color: var(--hoverprimary-color);
}


.page__item-description-nlink {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    line-height: 1.8rem;
    cursor: default;
}

.page__radio-link {
    position: relative;
}


.page__radio-list {
    position: relative;
    height: 132px;
    overflow: hidden;
    border: 3px solid rgba(255,255,255, 0.1);
    border-radius: 50%;
}

.page__radio-live {
    position: absolute;
    top: 125px;
    left: 48px;
    background-color: var(--live-color);
    padding: 1px 2px 1px 4px;
    line-height: 100%;
    border-radius: 3px;
}

.page__radio-live-text {
    color: var(--white-color);
    letter-spacing: 2px;
    font-size: 0.8rem;
    font-weight: 600;
}

.page__item-radio-sub {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    
}

.page__item-radio-sub-text {
    text-align: center;
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-color);
}

.page__item-radio-sub-text:hover {
    color: var(--hoverprimary-color);
    cursor: pointer;
}

.page__item-radio-des-text {
    color: var(--textsub-color);
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}

.page__radio-cover-icon-play {
    position: relative;
    left: 32px;
    top: -50px;
    padding: 8px 10px;
    border-radius: 50%;
    border: 1px solid #fff;
}

.page__radio-item-cover-play {
    color: var(--white-color);
    position: absolute;
    font-size: 2.4rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    top: 100px;
    margin-left: 10px;
    transition: ease 0.5s;
    opacity: 0;
    cursor: pointer;
}

.page__radio-link:hover .page__item-cover, 
.page__radio-link:hover .page__item-cover-play {
    opacity: 1;
}

.page__radio-link:hover .page__content-img{
    transform: scale(1.1) translateZ(0);
}

.page__radio-item-img {
    position: absolute;
    left: 87px;
    top: 85px;
}

.page__radio-sub-img {
    border-radius: 50%;
    width: 46px;
    height: 46px;

}

.page__singer-list {
    position: relative;
    height: 253px;
    overflow: hidden;
    border-radius: 10px;
}

.page__singer-img {
    width: 100%;
    height: 100%;
}

.page__singer-list:hover {
    opacity: 0.8;
}




/* Play area */

.play__area {
    display: flex;
}

.play__area-wrap {
    width: 100%;
    height: 90px;
    background-image: url(https://zmp3-static.zadn.vn/skins/zmp3-v6.1/images/theme-player/zma.png);
    background-size: cover;
    background-position: 50%;
    position: fixed;
    bottom: 0;
    padding: 0 20px;
    z-index: 200;
    min-width: 768px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.play_area-wrap-left {
    display: flex;
}

.play_area-wrap-mid {
    display: flex;
}

.play_area-wrap-right {
    display: flex;
}

.play__area-title {
    min-width: 240px;
    position: relative;
    margin: auto 0;
    display: flex;
    align-items: center;
}

.play__area-img {
    margin-right: 12px;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    background-color: aliceblue;
}

.play__area-title-wrap {
    font-size: 1.6rem;
    color: var(--textbar-color);
}

.play__area-heading-wrap {
    max-width: 162px;

}

.play__area-title-heading {
    display: block;
    margin: 0;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.36;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}

.play__area-title-sub {
    font-size: 1.2rem;
    color: rgba(255,255,255, 0.5);
}

.play__area-libary {
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.play__area-libary-wrap {
    margin-right: 18px;
    font-size: 1.3rem;
    position: relative;
}

.play__area-libary-wrap button {
    padding: 10px;
    border-radius: 50%;
    color: #fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.play__area-libary-wrap button:hover {
    background-color: rgba(255,255,255, 0.1);
}

.play__area-libary-link:hover .play__area-libary-sub{
    display: block;
}

.play__area-more-link:hover .play__area-more-sub{
    display: block;
}

.play__area-libary-sub {
    color: var(--textbar-color);
    /* min-width: 60px; */
    padding: 6px 0;
    border-radius: 5px;
    position: absolute;
    top: -40px;
    font-size: 1.2rem;
    background-color: rgb(39, 38, 38);
    left: -38px;
    display: none;
    animation: opacityAnimation ease 0.4s;
    width: 110px;
    text-align: center;
}

.play__area-libary-sub::after {
    content: "";
    border-style: solid;
    border-width: 8px;
    bottom: -15px;
    left: 47px;
    position: absolute;
    border-color: rgb(39, 38, 38) transparent transparent transparent;
}

.play__area-more-sub {
    width: 70px;
    color: var(--textbar-color);
    padding: 6px 0;
    border-radius: 5px;
    position: absolute;
    top: -40px;
    font-size: 1.2rem;
    background-color: rgb(39, 38, 38);
    left: -19px;
    display: none;
    animation: opacityAnimation ease 0.4s;
    text-align: center;
}

.play__area-more-sub::after {
    content: "";
    border-style: solid;
    border-width: 8px;
    bottom: -15px;
    left: 28px;
    position: absolute;
    border-color: rgb(39, 38, 38) transparent transparent transparent;
}

.play__area-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px;
}

.play__area-control-list {
    text-align: center;
    margin-bottom: 10px;
}

.play__area-control-list-icon {
    background-color: transparent;
    color: var(--textbar-color);
    font-size: 1.6rem;
    border: none;
    margin-right: 30px;
    cursor: pointer;
}

.isactive-btn-handle {
    color: var(--hoverprimary-color);
}

.no-margin {
    margin: 0;
}

.play__area-control-list-toggle-play {
    width: 38px;
    height: 38px;
    border: 1.5px solid var(--textbar-color);
    /* padding: 8px 10px; */
    border-radius: 50%;
}

.play__area-control-list-toggle-play:hover {
    color: var(--hoverprimary-color);
    border-color: var(--hoverprimary-color);
}

.play__area-control-list-toggle-play .icon-play {
    padding-left: 3px;
}

.play__area-control-list-icon .icon-pause {
    display: none;
}
    
.play__area-control-list-icon.playing .icon-pause {
    display: inline-block;
}

.play__area-control-list-icon.playing .icon-play {
    display: none;
}

/* .play__area-control-progress {
    margin: auto;
} */

.play__area-control-progress-thumb {
    width: 389px;
    -webkit-appearance: none;
    appearance: none;
    background-color: rgba(255,255,255, 0.3);
    height: 3px;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    
}

.play__area-control-progress-thumb::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 3px;
}

.play__area-control-progress-thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #fff;
    box-shadow: -400px 0 0 400px var(--white-color);
    cursor: pointer;
    height: 3px;
    width: 3px;
}


.play__area-control-progress-thumb::-moz-range-thumb {
    background: #fff;
    border: 2px solid #000;
    border-radius: 50%;
    box-shadow: -800px 0 0 790px red;
    cursor: pointer;
    height: 3px;
    width: 0px;
}
.play__area-control-progress-thumb:hover::-webkit-slider-thumb  {
    transform: translate(0, -2.2px);
    -webkit-appearance: none;
    background: var(--playlist-active-color);
    box-shadow: -400px 0 0 400px var(--white-color);
    cursor: pointer;
    /* border-radius: 50px 0 0 50px; */
    height: 8px;
    width: 8px;
}

.play__area-control-progress-thumb:hover  {
    height: 8px;
}


/* .play__area-control-progress-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: #dbdbdb;
    height: 15px;
    overflow: hidden;
    width: 100%;
    border-radius: 50px;
    cursor: pointer;
}
  
.play__area-control-progress-thumb::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 15px;
}
  
.play__area-control-progress-thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: red;
    box-shadow: -800px 0 0 790px red;
    cursor: pointer;
    height: 15px;
    width: 15px;
    transition: 0.2s ease;
}

.play__area-control-progress-thumb:hover::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #fff;
    border: 2px solid #000;
    border-radius: 50%;
    box-shadow: -800px 0 0 790px green;
    cursor: pointer;
    height: 15px;
    width: 15px;
}
  
.play__area-control-progress-thumb::-moz-range-thumb {
    background: #fff;
    border: 2px solid #000;
    border-radius: 50%;
    box-shadow: -800px 0 0 790px var(--primary-color);
    cursor: pointer;
    height: 15px;
    width: 15px;
} */


.play__area-information {
    display: flex;
    align-items: center;
}

.play__area-information-btn {
    font-size: 1.6rem;
    background-color: transparent;
    border: none;
    color: var(--textbar-color);
    margin-right: 10px;
    cursor: pointer;
}

.ti-volume {
    display: block;
}

.play__area-information-btn-volume .fa-volume-mute {
    display: none;
}

.play__area-information-btn-volume.mute .ti-volume {
    display: none;
}

.play__area-information-btn-volume.mute .fa-volume-mute {
    display: block;
}

.play__area-information-input {
    font-size: 1.6rem;
    background-color: transparent;
    border: none;
    color: var(--textbar-color);
    margin-right: 10px;
    cursor: pointer;
}

.play__area-information-btn:hover {
    position: relative;
    background-color: rgba(255,255,255, 0.1);
    padding: 6px 6px;
    border-radius: 50%;
}

.play__area-information-volume {
    margin-right: 20px;
    max-width: 70px;
    top: -5px;
    position: relative;
    -webkit-appearance: none;
    height: 6px;
    background: rgba(255,255,255, 0.2);
    outline: none;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
}

.play__area-information-volume::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 6px;
}

.play__area-information-volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #fff;
    box-shadow: -400px 0 0 400px var(--white-color);
    cursor: pointer;
    height: 6px;
    width: 6px;
}

.play__area-information-volume:hover {
    height: 8px;
}


.play__area-information-volume::after {
    top: -14px;
    right: -21px;
    content: "";
    position: absolute;
    height: 32px;
    width: 1px;
    background-color: rgba(255,255,255, 0.1);
}

.play__area-information-list-btn {
    font-size: 1.6rem;
    border: none;
    color: var(--textbar-color);
    margin-right: 10px;
    cursor: pointer;
    margin-right: 0;
    background-color: rgba(255,255,255, 0.1);
    padding: 6px 6px;
    border-radius: 5px;
}


.play__area-information-list-btn:hover {
    background-color: rgba(255,255,255, 0.2);
}

/* footer */

.page__footer {
    margin-top: 40px;
    margin-bottom: 150px;
    padding: 0 40px;
}

.page__footer-header {
    text-align: center;
    margin-bottom: 35px;
}

.page__footer-heading {
    display: inline-block;
    cursor: pointer;
    font-size: 1.4rem;
    color: var(--textsub-color);
    line-height: 1.2rem;    
    word-spacing: 2px;
    font-weight: 600;
}

.page__footer-heading:hover {
    color: var(--hoverprimary-color);
}

.page__footer-link {
    width: 100%;
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 51px;
}

.page__footer-img {
    max-height: 80%;
    max-width: 90%
}

/* Playlist */

.playlist {
    position: fixed;
    right: 0;
    z-index: 100;
    height: 100%;
    width: 320px;
    background-color: var(--playlist-color);
    overflow: hidden;
    animation: fadeIn ease-in-out 0.7s;
    display: none;
}

.exit {
    animation: fadeOut ease-out 0.5s;
}

@keyframes fadeOut {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(320px);
    }
}

@keyframes fadeIn {
    from {
        transform: translateX(320px);
    }

    to {
        transform: translateX(0);
    }
}
.playlist__header-wrap {
    position: absolute;
    height: 70px;
    top: 0;
    background-color: var(--playlist-color);
}

.playlist__header {
    display: flex;
    width: 100%;
    flex: 1;
    padding: 0 10px;
    margin: 18px 0;
}

.playlist__header-queue {
    display: flex;
    background-color: rgba(255,255,255, 0.1);
    align-items: center;
    border-radius: 20px;
    height: 36px;
    cursor: pointer;
}

.playlist__header-queue-text {
    color: var(--text-color);
    font-size: 1.3rem;
    font-weight: 400;
    padding: 0 12px;
    background-color: rgba(255,255,255, 0.3);
    margin: 0 4px;
    line-height: 30px;
    border-radius: 20px;
}

.playlist__header-queue-recently {
    color: var(--textbar-color);
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 12px;
    margin-right: 18px;
}

.playlist__header-queue-recently:hover {
    color: var(--text-color);
}

.playlist__header-alarm {
    display: flex;
    align-items: center;
    margin-left: 6px;
}

.playlist__header-alarm-icon {
    padding: 7px;
    /* height: 35px;
    width: 35px; */
    background-color: var(--playlist-active-color);
    border-radius: 50%;
    font-size: 1.6rem;
    text-align: center;
    color: var(--white-color);
}

.playlist__header-more-icon {
    margin-left: 6px;
    font-size: 1.2rem;
    color: var(--white-color);
    background-color: rgba(255,255,255, 0.1);
    padding: 8px 11px 7px 9px;
    border-radius: 50%;
}

.playlist__header-alarm-icon:hover, .playlist__header-more-icon:hover {
    opacity: 0.8;
    cursor: pointer;
}

.playlist__wrap {
    height: calc(100vh - 90px);
    margin-top: 70px;
    overflow: hidden scroll;
    margin-bottom: 120px;
}

.playlist__nextsong-wrap {
    margin-bottom: 80px;
}


.playlist__wrap::-webkit-scrollbar {
    display: none;
}

.playlist__content {
    display: flex;
    margin: 0 8px;
    opacity: 0.6;
    padding: 8px 0 4px 8px;
    border-radius: 5px;
    cursor: pointer;
}

.playlist__content.isplay .playlist__content-about-sub {
    color: var(--text-color);
}

.playlist__content:hover {
    opacity: 1;
    background-color: rgba(255,255,255, 0.2);
}

.isplay {
    background-color: var(--playlist-active-color);
    opacity: 1;
    pointer-events: none;
}

.playlist__content-img {
    overflow: hidden;
}

.playlist__content-item-img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.playlist__content-about {
    margin-left: 8px;
    color: var(--text-color);
}

.playlist__content-about-heading {
    margin: 2px 0; 
    font-size: 1.4rem;
    font-weight: 500;
}

.playlist__content-about-sub {
    font-size: 1.2rem;
    color: var(--textsub-color);
}

.playlist__nextsong {
    margin: 8px 18px;
    display: flex;
    flex-direction: column;
}

.playlist__nextsong-heading {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 600;
    margin-bottom: 8px;
}

.playlist__nextsong-sub {
    display: flex;
    font-size: 1.4rem;
    color: var(--textsub-color);
}

.playlist__nextsong-sub-zingchart {
    color: var(--hoverprimary-color);
    font-size: 1.4rem;
    text-decoration: none;
    font-weight: 400;
    margin-left: 3px;
}

.playlist__content-next {
    display: flex;
    margin: 0 8px;
    padding: 8px 0 4px 8px;
    border-radius: 5px;
}

.playlist__content-next:hover {
    background-color: rgba(255,255,255, 0.2);
}

.playlist__content-next-img {
    overflow: hidden;
}
.playlist__content-next-item-img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}
.playlist__content-next-about {
    margin-left: 8px;
    color: var(--text-color);
}

.playlist__content-next-about-heading {
    margin: 2px 0; 
    font-size: 1.4rem;
    font-weight: 500;
}

.playlist__content-next-about-sub {
    font-size: 1.2rem;
    color: var(--textsub-color);
}
